// NAVEGADOR

.navColorbg{
    background-color: #464C69;
}

.imagenLogo{
    margin-left: 30px;
    width: 70px;
    height: 70px;
    background-color: #EAEBF2;
}

h1{
    padding: 50px;
    font-family: "Trirong", serif;
}

p{
    font-family: 'Nunito', sans-serif;
}

.linkA{
    color:#EAEBF2 ;
}

.navBarPropio{
    
    gap: 80px;
}
.pNav{
    display: flex;
    justify-content: center;
   
}

.navLinkPropio{
    font-family:"Trirong", serif ;
}

.preguntasBoton:disabled{
    color: black;
}











//////// REGISTRO 


.bgRegistro {
    background-color: #F4ECF7 ;
}

.itemNombre{
    padding: 10px;
    font-family: 'Nunito', sans-serif; 
    font-size: 20px;
}

.itemEmail{
    padding: 10px;
    font-family: 'Nunito', sans-serif; 
    font-size: 20px;
}


.itemContrasena{
    padding: 10px;
    font-family: 'Nunito', sans-serif; 
    font-size: 20px;
}

.botonRegistroF{
    background-color: #D2B4DE ;
    border: none !important;
    margin: 10px;
    font-family: 'Nunito', sans-serif; 
    font-size: 20px; 
}