// NAVEGADOR

.navColorbg{
    background-color: #464C69;
}

.imagenLogo{
    margin-left: 30px;
    width: 70px;
    height: 70px;
    background-color: #EAEBF2;
}

h1{
    padding: 50px;
    font-family: "Trirong", serif;
}

p{
    font-family: 'Nunito', sans-serif;
}

.linkA{
    color:#EAEBF2 ;
}

.navBarPropio{
    
    gap: 80px;
}
.pNav{
    display: flex;
    justify-content: center;
   
}

.navLinkPropio{
    font-family:"Trirong", serif ;
}

